.container {
  width: 90%;
  /* max-width: 800px; */
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

h2 {
  text-align: center;
  color: #3f51b5;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-section button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.input-section button.stop {
  background-color: #d32f2f;
}

.ping-result {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.ping-btn,
.scan-btn {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
}

.ping-btn {
  background-color: #3f51b5;
  color: white;
}

.scan-btn {
  background-color: #4caf50;
  color: white;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

td {
  padding: 8px;
}

th,
td {
  min-width: 100px;
}
